# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.sqlite3

# ------------------------
# Virtual Environments
# ------------------------
venv/
.venv/
env/
*.env

# uv files
.uv/

# ------------------------
# FastAPI / Uvicorn logs
# ------------------------
*.log

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/
*.swp

# ------------------------
# Local Databases
# ------------------------
*.db
*.sqlite

# ------------------------
# Environment Variables
# ------------------------
.env
.env.*

# ------------------------
# Python Build
# ------------------------
build/
dist/
*.egg-info/
.eggs/

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db
